<!DOCTYPE html>
<html lang="en">

    <%- include('partials/layouts/header.ejs') %>
    <%- include('partials/layouts/navbar.ejs') %>

<body>


    <div class="main-box">
        <div class="container">
            <section id="menu">
                <h3 style="padding: 30px;">c o m m a n d e <span class="spaces"></span>n o n <span class="spaces"></span> p a s s e e !</h3>
                <img src="public/img/images/giphyError.gif">
            </section>
        </div>
    </div>
    <%- include('partials/layouts/footer.ejs') %>
</body>
</html>
