<!DOCTYPE html>
<html lang="en">

    <%- include('partials/layouts/header.ejs') %>
    <%- include('partials/layouts/navbar.ejs') %>

<body>


    <div class="main-box">
        
        <div class="container">
            <!--<section id="menu">-->
                <div class="row">
                    
                    <h3 id="textEmpty">il n' y a aucune livraison à assurer !</h3>
                    <div class="" style="width: 80%;">
                        <img class="img-fluid" src="./public/img/images/cartLogo.png" id="imageEmpty">
                    </div>

                    
                </div>

                  
            <!--</section>-->
        </div>
    </div>
    <%- include('partials/layouts/footer.ejs') %>
</body>
</html>
