<!DOCTYPE html>
<html lang="en">

    <%- include('partials/layouts/header.ejs') %>
    <%- include('partials/layouts/navbar.ejs') %>

<body>

    <div class="main-box">
        <div class="container">
            <section id="menu">
            </section>
        </div>
    </div>
    <%- include('partials/layouts/footer.ejs') %>
</body>
</html>
