<div class="modal fade" id="optionsBoisson" tabindex="-1" aria-labelledby="optionsBoissonLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="optionsBoissonLabel">a f f i n e | t e s | e n v i e s . </h5>
          
        </div>
        <div class="modal-body">
          <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
            <option selected>Choisis la contenance </option>
            <option value="1">25cL</option>
            <option value="2">33cL</option>
            <option value="3">50cL</option>
            <option value="4">1L</option>
            <option value="5">1.5L</option>
            <option value="6">2L</option>
          </select>
          
        </div>
        <div class="modal-footer">
          <button type="button" id="nonce"  data-bs-dismiss="modal">Fermer</button>
          <button type="button">Confirmer</button>
        </div>
      </div>
    </div>
  </div>