<div class="modal fade" id="optionsMenu" tabindex="-1" aria-labelledby="optionsMenuLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="optionsMenuLabel">a f f i n e <span> | </span> t e s <span> | </span>e n v i e s ! </h5>
          
        </div>
        <div class="modal-body">
          <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
            <option selected>Choisis ton entrée  </option>
            <option value="1">Entrée 1</option>
            <option value="2">Entrée 2</option>
            <option value="3">Entrée 3</option>
            <option value="4">Entrée 4</option>
            <option value="5">Entrée 5</option>
            <option value="6">Entrée 6</option>
          </select>
          <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
            <option selected>Choisis ta pizza  </option>
            <option value="1">Entrée 1</option>
            <option value="2">Entrée 2</option>
            <option value="3">Entrée 3</option>
            <option value="4">Entrée 4</option>
            <option value="5">Entrée 5</option>
            <option value="6">Entrée 6</option>
          </select>
          <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
            <option selected>Choisis ta boisson 1  </option>
            <option value="1">Entrée 1</option>
            <option value="2">Entrée 2</option>
            <option value="3">Entrée 3</option>
            <option value="4">Entrée 4</option>
            <option value="5">Entrée 5</option>
            <option value="6">Entrée 6</option>
          </select>
          <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
            <option selected>Choisis ta boisson 2  </option>
            <option value="1">Entrée 1</option>
            <option value="2">Entrée 2</option>
            <option value="3">Entrée 3</option>
            <option value="4">Entrée 4</option>
            <option value="5">Entrée 5</option>
            <option value="6">Entrée 6</option>
          </select>
          
        </div>
        <div class="modal-footer">
          <button type="button" data-bs-dismiss="modal">Fermer</button>
          <button type="button" class="btn">Confirmer</button>
        </div>
      </div>
    </div>
  </div>
