<div class="modal fade" id="optionsPizza" tabindex="-1" aria-labelledby="optionsPizzaLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="optionsPizzaLabel">a f f i n e | t e s | e n v i e s .</h5>
          
        </div>
        <div class="modal-body">
          <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
            <option selected>Choisis ta taille </option>
            <option value="1">Medium</option>
            <option value="2">Large</option>
            <option value="3">X-Large</option>
            <option value="4">King Size</option>
            <option value="5">Small</option>
          </select>

          <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
            <option selected>Ajoute tes ingrédients </option>
            <option value="1">Thon</option>
            <option value="2">Champignons</option>
            <option value="3">Olives</option>
            <option value="4">Tomates</option>
            <option value="5">Carpes</option>
          </select>
          
        </div>
        <div class="modal-footer">
          <button type="button" data-bs-dismiss="modal">Fermer</button>
          <button type="button">Confirmer</button>
        </div>
      </div>
    </div>
  </div>
