<div class="item row align-items-center">
    <div class="col-sm-3 pr-5">
        <img class="boisson-img" src="./../public/img/images/boissons/coca.svg">
    </div>
    <div class="info col-sm-9">
        <div class="pizza_head">
            <h3 class="pizza_title">Coca Cola</h3>
            <span class="pizza_dots"></span>
            <span class="pizza_price">5€</span>
        </div>
        <p class="pizza_description">33 cl</p>
        <button class="btn btn-sm btn-outline-dark">Ajouter au Panier</button>
        <button class="btn btn-sm btn-outline-dark" data-bs-toggle="modal" data-bs-target="#optionsBoisson">Options</button>
    </div>
    
</div>
<div class="item row align-items-center">
    <div class="col-sm-3 pr-5">
        <img class="boisson-img" src="./../public/img/images/boissons/fanta.svg">
    </div>
    <div class="info col-sm-9">
        <div class="pizza_head">
            <h3 class="pizza_title">Fanta</h3>
            <span class="pizza_dots"></span>
            <span class="pizza_price">5€</span>
        </div>
        <p class="pizza_description">33 cl</p>
        <button class="btn btn-sm btn-outline-dark">Ajouter au Panier</button>
        <button class="btn btn-sm btn-outline-dark" data-bs-toggle="modal" data-bs-target="#optionsBoisson">Options</button>
    </div>
    
</div>
<div class="item row align-items-center">
    <div class="col-sm-3 pr-5">
        <img class="boisson-img" src="./../public/img/images/boissons/sprite.svg">
    </div>
    <div class="info col-sm-9">
        <div class="pizza_head">
            <h3 class="pizza_title">Sprite</h3>
            <span class="pizza_dots"></span>
            <span class="pizza_price">5€</span>
        </div>
        <p class="pizza_description">33 cl</p>
        <button class="btn btn-sm btn-outline-dark">Ajouter au Panier</button>
        <button class="btn btn-sm btn-outline-dark" data-bs-toggle="modal" data-bs-target="#optionsBoisson">Options</button>
    </div>
    
</div>
<div class="item row align-items-center">
    <div class="col-sm-3 pr-5">
        <img class="boisson-img" src="./../public/img/images/boissons/orange-juice-svgrepo-com.svg">
    </div>
    <div class="info col-sm-9">
        <div class="pizza_head">
            <h3 class="pizza_title">Jus d'Orange</h3>
            <span class="pizza_dots"></span>
            <span class="pizza_price">5€</span>
        </div>
        <p class="pizza_description">33 cl</p>
        <button class="btn btn-sm btn-outline-dark">Ajouter au Panier</button>
        <button class="btn btn-sm btn-outline-dark" data-bs-toggle="modal" data-bs-target="#optionsBoisson">Options</button>
    </div>
    
</div>

<div class="item row align-items-center">
    <div class="col-sm-3 pr-5">
        <img class="boisson-img" src="./../public/img/images/boissons/water-svgrepo-com.svg">
    </div>
    <div class="info col-sm-9">
        <div class="pizza_head">
            <h3 class="pizza_title">Eau</h3>
            <span class="pizza_dots"></span>
            <span class="pizza_price">5€</span>
        </div>
        <p class="pizza_description">33 cl</p>
        <button class="btn btn-sm btn-outline-dark">Ajouter au Panier</button>
        <button class="btn btn-sm btn-outline-dark" data-bs-toggle="modal" data-bs-target="#optionsBoisson">Options</button>
    </div>
    
</div>

<div class="item row align-items-center">
    <div class="col-sm-3 pr-5">
        <img class="boisson-img" src="./../public/img/images/boissons/lemonade-svgrepo-com.svg">
    </div>
    <div class="info col-sm-9">
        <div class="pizza_head">
            <h3 class="pizza_title">Limonade</h3>
            <span class="pizza_dots"></span>
            <span class="pizza_price">5€</span>
        </div>
        <p class="pizza_description">33 cl</p>
        <button class="btn btn-sm btn-outline-dark">Ajouter au Panier</button>
        <button class="btn btn-sm btn-outline-dark" data-bs-toggle="modal" data-bs-target="#optionsBoisson">Options</button>
    </div>
    
</div>