<div class="item row align-items-center">
    <div class="col-sm-3 pr-5">
        <img class="salade-img" src="./../public/img/images/entrees/salad-svgrepo-com.svg">
    </div>
    <div class="info col-sm-9">
        <div class="pizza_head">
            <h3 class="salade1_title">Salade Caesar</h3>
            <span class="salade1_dots"></span>
            <span class="salade1_price">8€</span>
        </div>
        <p class="pizza_description">dsjfdjnffjd</p>
        <button class="btn btn-sm btn-outline-dark" id="add-entree">Ajouter au Panier</button>
        <button class="btn btn-sm btn-outline-dark" data-bs-toggle="modal" data-bs-target="#optionsEntree">Options</button>
    </div>
    
</div>
<div class="item row align-items-center">
    <div class="col-sm-3 pr-5">
        <img class="salade-img" src="./../public/img/images/entrees/green-salad-svgrepo-com (1).svg">
    </div>
    <div class="info col-sm-9">
        <div class="pizza_head">
            <h3 class="salade1_title">Salade Wings Green</h3>
            <span class="salade1_dots"></span>
            <span class="salade1_price">8€</span>
        </div>
        <p class="pizza_description">dsjfdjnffjd</p>
        <button class="btn btn-sm btn-outline-dark" id="add-entree">Ajouter au Panier</button>
        <button class="btn btn-sm btn-outline-dark" data-bs-toggle="modal" data-bs-target="#optionsEntree">Options</button>
    </div>
    
</div>
<div class="item row align-items-center">
    <div class="col-sm-3 pr-5">
        <img class="salade-img" src="./../public/img/images/entrees/green-salad-svgrepo-com.svg">
    </div>
    <div class="info col-sm-9">
        <div class="pizza_head">
            <h3 class="salade1_title">Salade Vegetarienne</h3>
            <span class="salade1_dots"></span>
            <span class="salade1_price">8€</span>
        </div>
        <p class="pizza_description">dsjfdjnffjd</p>
        <button class="btn btn-sm btn-outline-dark" id="add-entree">Ajouter au Panier</button>
        <button class="btn btn-sm btn-outline-dark" data-bs-toggle="modal" data-bs-target="#optionsEntree">Options</button>
    </div>
    
</div>
<div class="item row align-items-center">
    <div class="col-sm-3 pr-5">
        <img class="salade-img" src="./../public/img/images/entrees/salad-svgrepo-com (1).svg">
    </div>
    <div class="info col-sm-9">
        <div class="pizza_head">
            <h3 class="salade1_title">Salade Royale</h3>
            <span class="salade1_dots"></span>
            <span class="salade1_price">8€</span>
        </div>
        <p class="pizza_description">dsjfdjnffjd</p>
        <button class="btn btn-sm btn-outline-dark" id="add-entree">Ajouter au Panier</button>
        <button class="btn btn-sm btn-outline-dark" data-bs-toggle="modal" data-bs-target="#optionsEntree">Options</button>
    </div>
    
</div>
<div class="item row align-items-center">
    <div class="col-sm-3 pr-5">
        <img class="salade-img" src="./../public/img/images/entrees/sushi.svg">
    </div>
    <div class="info col-sm-9">
        <div class="pizza_head">
            <h3 class="salade1_title">Sushi</h3>
            <span class="salade1_dots"></span>
            <span class="salade1_price">8€</span>
        </div>
        <p class="pizza_description">dsjfdjnffjd</p>
        <button class="btn btn-sm btn-outline-dark" id="add-entree">
            Ajouter au Panier

        </button>
        <button class="btn btn-sm btn-outline-dark" data-bs-toggle="modal" data-bs-target="#optionsEntree">Options</button>
    </div>
    
</div>