<div class="item row align-items-center">
    <div class="col-sm-3 pr-5">
        <img class="pizza-img" src="./../public/img/images/pizzas/pizza-svgrepo-com.svg">
    </div>
    <div class="info col-sm-9">
        <div class="pizza_head">
            <h3 class="pizza_title">Margharita Pizza</h3>
            <span class="pizza_dots"></span>
            <span class="pizza_price">17€</span>
        </div>
        <p class="pizza_description">Sauce tomate, fromage, basilic</p>
        <button class="btn btn-sm btn-outline-dark" data-bs-toggle="modal" data-bs-target="#optionsPizza">Ajouter au Panier</button>

    </div>
    
</div>


<div class="item row align-items-center">
    <div class="col-sm-3 pr-5">
        <img class="pizza-img" src="./../public/img/images/pizzas/romanpizza.svg">
    </div>
    <div class="info col-sm-9">
        <div class="pizza_head">
            <h3 class="pizza_title">Napolitaine Pizza</h3>
            <span class="pizza_dots"></span>
            <span class="pizza_price">17€</span>
        </div>
        <p class="pizza_description">dsjfdjnffjd</p>
        <button class="btn btn-sm btn-outline-dark">Ajouter au Panier</button>
        <button class="btn btn-sm btn-outline-dark">Personnaliser </button>

    </div>
    
</div>

<div class="item row align-items-center">
    <div class="col-sm-3 pr-5">
        <img class="pizza-img" src="./../public/img/images/pizzas/pizza-01-svgrepo-com.svg">
    </div>
    <div class="info col-sm-9">
        <div class="pizza_head">
            <h3 class="pizza_title">Calzone Pizza</h3>
            <span class="pizza_dots"></span>
            <span class="pizza_price">17€</span>
        </div>
        <p class="pizza_description">dsjfdjnffjd</p>
        <button class="btn btn-sm btn-outline-dark">Ajouter au Panier</button>
        <button class="btn btn-sm btn-outline-dark">Personnaliser </button>

    </div>
    
</div>

<div class="item row align-items-center">
    <div class="col-sm-3 pr-5">
        <img class="pizza-img" src="./../public/img/images/pizzas/hawaipizza.svg">
    </div>
    <div class="info col-sm-9">
        <div class="pizza_head">
            <h3 class="pizza_title">Parisienne Pizza</h3>
            <span class="pizza_dots"></span>
            <span class="pizza_price">17€</span>
        </div>
        <p class="pizza_description">dsjfdjnffjd</p>
        <button class="btn btn-sm btn-outline-dark">Ajouter au Panier</button>
        <button class="btn btn-sm btn-outline-dark">Personnaliser </button>

    </div>
    
</div>

<div class="item row align-items-center">
    <div class="col-sm-3 pr-5">
        <img class="pizza-img" src="./../public/img/images/pizzas/MyPizza.svg">
    </div>
    <div class="info col-sm-9">
        <div class="pizza_head">
            <h3 class="pizza_title">4 Fromages Pizza</h3>
            <span class="pizza_dots"></span>
            <span class="pizza_price">17€</span>
        </div>
        <p class="pizza_description">dsjfdjnffjd</p>
        <button class="btn btn-sm btn-outline-dark">Ajouter au Panier</button>
        <button class="btn btn-sm btn-outline-dark">Personnaliser </button>

    </div>
    
</div>

<div class="item row align-items-center">
    <div class="col-sm-3 pr-5">
        <img class="pizza-img" src="./../public/img/images/pizzas/pizza1.svg">
    </div>
    <div class="info col-sm-9">
        <div class="pizza_head">
            <h3 class="pizza_title">Romaine Pizza</h3>
            <span class="pizza_dots"></span>
            <span class="pizza_price">17€</span>
        </div>
        <p class="pizza_description">dsjfdjnffjd</p>
        <button class="btn btn-sm btn-outline-dark">Ajouter au Panier</button>
        <button class="btn btn-sm btn-outline-dark">Personnaliser </button>

    </div>
    
</div>

<div class="item row align-items-center">
    <div class="col-sm-3 pr-5">
        <img class="pizza-img" src="./../public/img/images/pizzas/Pizza_Pepperoni.svg">
    </div>
    <div class="info col-sm-9">
        <div class="pizza_head">
            <h3 class="pizza_title">Royale Pizza</h3>
            <span class="pizza_dots"></span>
            <span class="pizza_price">17€</span>
        </div>
        <p class="pizza_description">dsjfdjnffjd</p>
        <button class="btn btn-sm btn-outline-dark">Ajouter au Panier</button>
        <button class="btn btn-sm btn-outline-dark">Personnaliser </button>

    </div>
    
</div>

<div class="item row align-items-center">
    <div class="col-sm-3 pr-5">
        <img class="pizza-img" src="./../public/img/images/pizzas/rejon-pizza.svg">
    </div>
    <div class="info col-sm-9">
        <div class="pizza_head">
            <h3 class="pizza_title">Diavola Pizza</h3>
            <span class="pizza_dots"></span>
            <span class="pizza_price">17€</span>
        </div>
        <p class="pizza_description">dsjfdjnffjd</p>
        <button class="btn btn-sm btn-outline-dark">Ajouter au Panier</button>
        <button class="btn btn-sm btn-outline-dark">Personnaliser </button>

    </div>
    
</div>

<div class="item row align-items-center">
    <div class="col-sm-3 pr-5">
        <img class="pizza-img" src="./../public/img/images/pizzas/romanpizza.svg">
    </div>
    <div class="info col-sm-9">
        <div class="pizza_head">
            <h3 class="pizza_title">Chevre Miel Pizza</h3>
            <span class="pizza_dots"></span>
            <span class="pizza_price">17€</span>
        </div>
        <p class="pizza_description">dsjfdjnffjd</p>
        <button class="btn btn-sm btn-outline-dark">Ajouter au Panier</button>
        <button class="btn btn-sm btn-outline-dark">Personnaliser </button>

    </div>
    
</div>
<div class="item row align-items-center">
    <div class="col-sm-3 pr-5">
        <img class="pizza-img" src="./../public/img/images/pizzas/MyPizza.svg">
    </div>
    <div class="info col-sm-9">
        <div class="pizza_head">
            <h3 class="pizza_title">Sicilienne Pizza</h3>
            <span class="pizza_dots"></span>
            <span class="pizza_price">17€</span>
        </div>
        <p class="pizza_description">dsjfdjnffjd</p>
        <button class="btn btn-sm btn-outline-dark">Ajouter au Panier</button>
        <button class="btn btn-sm btn-outline-dark">Personnaliser </button>

    </div>
    
</div>