<div class="item row align-items-center">
    <div class="col-sm-3 pr-5">
        <img class="salade-img" src="https://isometric.online/wp-content/uploads/2020/04/food_svg.svg">
    </div>
    <div class="info col-sm-9">
        <div class="pizza_head">
            <h3 class="salade1_title">Menu Enfant</h3>
            <span class="salade1_dots"></span>
            <span class="salade1_price">12€</span>
        </div>
        <p class="pizza_description">dsjfdjnffjd</p>
        <button class="btn btn-sm btn-outline-dark" id="add-menu-enfant">Ajouter au Panier</button>
        <button class="btn btn-sm btn-outline-dark" data-bs-toggle="modal" data-bs-target="#optionsEntree">Options</button>
    </div>
    
</div>
<div class="item row align-items-center">

    <div class="col-sm-3 pr-5">
        <img  src="./../public/img/images/menus/menu1.png" width="200px">
    </div>
    <div class="info col-sm-9">
        <div class="pizza_head">
            <h3 class="salade1_title">Extra Menu</h3>
            <span class="pizza_dots"></span>
            <span class="pizza_price">15€</span>
        </div>
    
        <div class="pizza_head">
            <h5 class="pizza_title">1 Entrée au choix : </h5>
            <span class="pizza_dots"></span>
            <span class="pizza_price">5€</span>
        </div>
        <div class="pizza_head">
            <h5 class="pizza_title">1 Pizza Medium au choix : </h5>
            <span class="pizza_dots"></span>
            <span class="pizza_price">5€</span>
        </div>
        
        <div class="pizza_head">
            <h5 class="pizza_title">2 Boissons au choix d'au plus 33cL : </h5>
            <span class="pizza_dots"></span>
            <span class="pizza_price">5€</span>
        </div>
        <button class="btn btn-sm btn-outline-dark"  data-bs-toggle="modal" data-bs-target="#optionsMenu">Ajouter au Panier</button>
    </div>
</div>
<div class="item row align-items-center">

    <div class="col-sm-3 pr-5">
        <img src="./../public/img/images/menus/menu2.svg" width="200px">
    </div>
    <div class="info col-sm-9">
        <div class="pizza_head">
            <h3 class="salade1_title">Mega Menu</h3>
            <span class="pizza_dots"></span>
            <span class="pizza_price">15€</span>
        </div>
    
        <div class="pizza_head">
            <h5 class="pizza_title">1 Entrée au choix : </h5>
            <span class="pizza_dots"></span>
            <span class="pizza_price">5€</span>
        </div>
        <div class="pizza_head">
            <h5 class="pizza_title">1 Pizza Medium au choix : </h5>
            <span class="pizza_dots"></span>
            <span class="pizza_price">5€</span>
        </div>
        
        <div class="pizza_head">
            <h5 class="pizza_title">2 Boissons au choix d'au plus 33cL : </h5>
            <span class="pizza_dots"></span>
            <span class="pizza_price">5€</span>
        </div>
        <button class="btn btn-sm btn-outline-dark"  data-bs-toggle="modal" data-bs-target="#optionsMenu">Ajouter au Panier</button>
    </div>
</div>
<div class="item row align-items-center">

    <div class="col-sm-3 pr-5">
        <img src="./../public/img/images/menus/menu33.svg" width="200px">
    </div>
    <div class="info col-sm-9">
        <div class="pizza_head">
            <h3 class="salade1_title">Giga Menu</h3>
            <span class="pizza_dots"></span>
            <span class="pizza_price">15€</span>
        </div>
    
        <div class="pizza_head">
            <h5 class="pizza_title">1 Entrée au choix : </h5>
            <span class="pizza_dots"></span>
            <span class="pizza_price">5€</span>
        </div>
        <div class="pizza_head">
            <h5 class="pizza_title">1 Pizza Medium au choix : </h5>
            <span class="pizza_dots"></span>
            <span class="pizza_price">5€</span>
        </div>
        
        <div class="pizza_head">
            <h5 class="pizza_title">2 Boissons au choix d'au plus 33cL : </h5>
            <span class="pizza_dots"></span>
            <span class="pizza_price">5€</span>
        </div>
        <button class="btn btn-sm btn-outline-dark"  data-bs-toggle="modal" data-bs-target="#optionsMenu">Ajouter au Panier</button>
    </div>
</div>
<div class="item row align-items-center">

    <div class="col-sm-3 pr-5">
            <img src="./../public/img/images/menus/menudolce.svg" width="220px">
    </div>
    <div class="info col-sm-9">
        <div class="pizza_head">
            <h3 class="salade1_title">Dolce Menu</h3>
            <span class="pizza_dots"></span>
            <span class="pizza_price">15€</span>
        </div>
    
        <div class="pizza_head">
            <h5 class="pizza_title">1 Entrée au choix : </h5>
            <span class="pizza_dots"></span>
            <span class="pizza_price">5€</span>
        </div>
        <div class="pizza_head">
            <h5 class="pizza_title">1 Pizza Medium au choix : </h5>
            <span class="pizza_dots"></span>
            <span class="pizza_price">5€</span>
        </div>
        
        <div class="pizza_head">
            <h5 class="pizza_title">2 Boissons au choix d'au plus 33cL : </h5>
            <span class="pizza_dots"></span>
            <span class="pizza_price">5€</span>
        </div>
        <button class="btn btn-sm btn-outline-dark"  data-bs-toggle="modal" data-bs-target="#optionsMenu">Ajouter au Panier</button>
    </div>
</div>