<div data-aos="zoom-in" data-aos-duration="2000">
        <div class="halfs half1 my-auto" id="pic-up">
            <div class="container-fluid text-center">
            </div>
        </div>
</div>
   