<nav class="navbar navbar-expand-md navbar-light sticky-top">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsEx" aria-controls="navbarsEx" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div data-aos="fade-up"
        data-aos-anchor-placement="top-bottom" data-aos-duration="1700" >
            <h1 class="logo">p i z z a j o e.</h1>
           
        </div>
       
        <div data-aos="fade-up"
        data-aos-anchor-placement="top-bottom" data-aos-duration="1700" style="clear: both;" >
      
            <div class="collapse navbar-collapse" id="navbarsEx">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="http://localhost:3000/la_carte.ejs">La Carte</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="http://localhost:3000/connexion.ejs">Staff</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="http://localhost:3000/contact.ejs">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="modal" data-bs-target="#cartModal">
                                <i class="fas fa-shopping-cart fa-bounce"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>